doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0' name='viewport')
    title The Dot Game
    meta(name='description', content='')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='assets/css/main.css')


body
    .container

        .start-lockup
            .game-title
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 297.63 259.88')
                    circle(cx='201.67', cy='297.46', r='43.61', transform='rotate(-68.69 -62.38 285.08)', fill='#808285', opacity='.89')
                    circle(cx='190.84', cy='451.04', r='25.64', transform='matrix(.87 -.5 .5 .87 -356.5 -98)', fill='#6d6e71', opacity='.67')
                    circle(cx='104.05', cy='118.78', r='104.05', fill='#414042', opacity='.89')
                    circle(cx='222.43', cy='154.64', r='75.2', fill='#58595b', opacity='.89')
                    path(d='M63.82 111.97c-3.3-5.47-7.24-8-12.7-7.16a30 30 0 0 0-7.32 2.33 26.18 26.18 0 0 1-7.48 2.41c-1.69.24-1.85.88-1.45 2.09a6 6 0 0 0 4.82 3.54c-5.47 8.36-11.9 20.26-14.23 27.42a17.58 17.58 0 0 0-1.13 5.15c0 1.29.64 2.41 2.09 4.34 2 2.57 3.54 3.94 6.11 3.94a8.08 8.08 0 0 0 2.65-.48c17.69-6 30.48-22.6 30.48-35.54a17 17 0 0 0-1.84-8.04zM31.9 150.24c-.8.32-1.21.16-1.21-.56a8.17 8.17 0 0 1 .4-2.33c1.69-5.87 6.35-14.23 12.62-24.77 1.85-3.3 2.49-6.27 2.25-8.28 2.49-.88 7.16-3.38 9.65-3.38a3.55 3.55 0 0 1 3 1.77 8.39 8.39 0 0 1 1 4.42c-.06 9.58-9.95 26.38-27.72 33.14zm57.09-13.91c.72-6.83-1.53-7.4-3.78-10.05-1.53-2.09-3-3-5.31-3-5.31 0-10.37 4-14 10.45a24.11 24.11 0 0 0-3.38 11.26 11.37 11.37 0 0 0 2.25 7 9.78 9.78 0 0 0 7.88 4.1 9 9 0 0 0 2.9-.48c6.11-2.09 11.26-10 12.95-16.64a3.36 3.36 0 0 0 2.09-1.13c.65-.78.49-1.5-1.6-1.5zm-10 7.24c-3 5.47-6.19 8.44-8.28 8.44-1.21 0-1.93-1-1.93-3.38 0-3 1.29-7.48 3.38-11.34a25.84 25.84 0 0 1 4.58-6 10.2 10.2 0 0 0 4.91 6.51 27.52 27.52 0 0 1-2.63 5.77zm3.94-8.85a8 8 0 0 1-1.29-4.58c0-1.29.72-1.93 1.21-1.93s1.21.48 1.21 1.69a13.45 13.45 0 0 1-1.11 4.83zm31.2-13.51c.8 1.45.24 2.41-1.69 2.17a24.31 24.31 0 0 0-5.31.24c-3.06 5.23-7.64 13.19-10.45 19.3a15.26 15.26 0 0 0-1.45 6c0 2.41.8 4.1 2.17 4.1 3.14 0 7.32-5.07 10.13-11.1.88-1.93 2.73-2.09 3.3.08.4 1.69.08 2.89-.8 4.74-1.13 2.41-6.51 9.33-13.27 9.33-4.26 0-8-3.46-8-9a17.61 17.61 0 0 1 1.61-6.67 168.06 168.06 0 0 1 7.88-16.08c-2.49-.32-3.94-1.21-4.58-2.17-1.13-1.69-.32-2.49 1.53-2.41a46 46 0 0 0 5.79-.16c2.49-4.34 4.18-7 6-9.65 1.21-1.77 2.17-1.69 3.06-.16a7.24 7.24 0 0 1 .88 3.3 14.16 14.16 0 0 1-1.29 5.55 5.8 5.8 0 0 1 4.51 2.6zm48.49 18.33a29 29 0 0 0-4.5.08c1.61 7.48-8.12 14.63-12.22 15.76a22.57 22.57 0 0 1-5.95.88 12.63 12.63 0 0 1-8-2.57c-3.06-2.17-5.63-5.87-5.63-12.54 0-17.13 16.32-32.32 25.41-35.46a16.81 16.81 0 0 1 5.87-1 9.74 9.74 0 0 1 5.47 1.53 10.06 10.06 0 0 1 3.86 13.11c-.88 2.09-2.17 5.23-3.06 7.56-.4 1-1.37 1.85-2.9.64a6.58 6.58 0 0 1-2.89-5.31 8.69 8.69 0 0 1 .72-3.46c2.25-5.79 3.05-8 2.17-8.93-2.33-2.41-14.39 4.5-21.63 15.52a34.57 34.57 0 0 0-5.79 18.49c0 6.19 2 8.28 4.58 8.28 4.26 0 10-4.42 13.75-11.5-2.09.4-4 .64-5.63.8-4.18.32-7.24-1.53-8.44-4-.48-1.21-.08-2 1.53-2a59 59 0 0 0 9.41-1.21 54.37 54.37 0 0 1 7.64-.88c4.42-.08 6.84 1.77 8 4.34.42 1.24.5 2.04-1.75 1.88zm108.58 2.62c-.64-1.61-1.69-1.45-2.57-.16-3.3 5-8.68 10.94-14.8 10.94-2.41 0-3.86-2.49-3.86-6a17 17 0 0 1 .72-4.74 10.33 10.33 0 0 0 5.71 1.77c7.08 0 12.46-8.44 12.46-13.27a5.86 5.86 0 0 0-.8-3 14.66 14.66 0 0 0-5-4.18 5.22 5.22 0 0 0-2.81-.64c-4.66 0-11.18 4.26-15.36 12.79a21.49 21.49 0 0 0-2.3 6.8c-3 4.86-6.82 10.33-9.28 10.33-1.29 0-2.09-1.29-2.09-3.14 0-2.81 2.09-6.35 4.34-9.81 3.3-5.07 5-8.76 5-11.5s-1.29-4.82-3.62-4.91c-2.57-.08-6.83 2.65-10.45 5.87 0-3.38-1.69-6.27-4.26-6.27s-7.08 3.06-10.53 6.43a11.19 11.19 0 0 0 .24-2.17 7.64 7.64 0 0 0-1.13-3.86c-.8-1.45-2-1.53-3.05 0a157.92 157.92 0 0 0-11.64 21.58c-2.53 4.29-5.73 8.09-8.14 8.09-.8 0-1.13-.72-1.13-1.93 0-5.39 6.75-14.15 8.84-18.57 2.09-4.18 1.37-7.72 0-9.33-1-1.13-2.33-1-3.3.56l-1.53 2.49a5.24 5.24 0 0 0-5.39-3.54c-4.1 0-10.69 3.78-17.13 13a21.71 21.71 0 0 0-4.34 12c0 4.74 2.57 8.2 7.32 8.2 3.22 0 6.84-2.49 9.17-4.74.64 3 3 5.07 7 5.07a12.43 12.43 0 0 0 7.41-2.91 5.48 5.48 0 0 0 1.51 2.11c1.37 1.21 2.25.72 2.82-.56 3.14-7.4 6.83-14.71 11.34-19.54 4.82-5.31 8-7.08 8.6-7.08s-1.53 3.06-3.7 6.67a72.83 72.83 0 0 0-5.95 10.61 19.78 19.78 0 0 0-1.45 6 5.48 5.48 0 0 0 1.77 4.42c1.29 1.29 2.41 1 3.22-.48 3.38-7.48 7.24-15.12 13.51-21.39 4.74-4.74 6.43-5.55 7.08-5.55s-1.29 2.41-3.06 5.07a109.14 109.14 0 0 0-5.79 10 13 13 0 0 0-1.21 5.23c0 4.34 3 7.32 8.44 7.32 4.07 0 8.62-2.68 11.38-6.2 1.63 3.77 5.24 6.26 10.58 6.2a20.94 20.94 0 0 0 16.08-8.76 6.92 6.92 0 0 0 1.13-5.32zm-8.36-14.71c.88.72-.8 4.5-3.14 7.64-1.61 2.17-4.18 4.58-6.11 4.58a3.25 3.25 0 0 1-1.77-.56c3.86-7.68 9.81-12.58 11.02-11.62zm-90.46 25c-.8 0-1.13-1-1.13-2.41 0-2.57 1.37-6.83 3.78-10.61 4.1-6.59 9.65-11.66 11.26-11.66.8 0 1 .56 1 1.53 0 2.09-1.45 6-4.58 11.5-3.98 6.79-7.68 11.7-10.34 11.7zm-49.49-63.87c-2.17 3.33-5.85 7.37-10 7.17-2.68-.15-3.89-3.33-2.27-8 3.53 2.88 6.92 1.57 9.39-1.46 2.12-2.57 2.52-5.65 1.62-6.86a9.4 9.4 0 0 0-3-2.62c-2.52-1.46-7.67 1.16-11 7.67a13.42 13.42 0 0 0-1.47 5.13c-1.61 3-4.07 6-6 6.08s-2.12-2.27-.86-5.2c1.16-2.62 3.58-6.31 4.69-8.53 1.31-2.57-.25-5.1-2-5.3-1.36-.15-4 1.51-6.06 3.53 2.17-3.38 4.85-7.47 6.06-9.49 1.92-3.18 2.07-5.7 1.41-7.17-.25-.61-.76-.66-1.21-.05-4.09 5.1-14.59 22.87-16.35 27.91-.16.45-.27.85-.37 1.23-1.47 1.9-3.09 3.22-4.48 3.16-2.12-.1-2.68-3.23-1-6.92 1.92-4.24 4.79-9.14 6.76-12.52a15.05 15.05 0 0 1 3.94-.2c.76 0 1-.35.61-1a3.16 3.16 0 0 0-3.13-1.51c1.21-2.62 1.21-4.29.66-5.7-.25-.61-.76-.66-1.21 0a64.79 64.79 0 0 0-3.84 6.26 28.74 28.74 0 0 1-4.19.2c-.76-.05-1.06.3-.56 1a4.17 4.17 0 0 0 3.28 1.31c-2.17 4-4.29 8.23-5.35 10.75-2.42 5.8.25 9.54 3.58 9.64a7.34 7.34 0 0 0 4.91-1.73 3.12 3.12 0 0 0 .72 1.44c.3.35.66.25.86-.2a66.17 66.17 0 0 1 4.9-9.59c2.93-4.79 8.43-8.23 9.14-7.82s-3.58 5.7-5.25 10.6c-1.51 4.39-.45 7.47 3.79 7.47 2.64 0 5.37-2 6.93-4.45.82 2.69 3 4.51 6.49 4.45a12.79 12.79 0 0 0 9.89-5.45 4.09 4.09 0 0 0 .86-3.13c-.24-.46-.65-.46-.9-.06zm-11.44-2.73c2.37-4.8 6.56-7.82 7.62-7 .71.55-.4 3.18-2 5.3-1.46 1.92-3.53 4.09-6 2.52.05-.22.2-.51.38-.82z', fill='#fff')
                    circle(cx='220.08', cy='471.11', r='17.07', transform='rotate(-12.35 -1031.38 1067.56)', fill='#a7a9ac', opacity='.37')
                    circle(cx='382.65', cy='503.73', r='10', transform='rotate(-12.35 -868.88 1100.15)', fill='#a7a9ac', opacity='.37')
                    ellipse(cx='156.59', cy='208.79', rx='39.33', ry='35.47', fill='#939598', opacity='.87')
                    circle(cx='374.23', cy='302.37', r='14.57', transform='rotate(-57.35 63.85 318.57)', fill='#a7a9ac', opacity='.37')
                    circle(cx='349.8', cy='482.68', r='17.12', transform='rotate(-57.35 39.43 498.87)', fill='#a7a9ac', opacity='.37')

            .start-btn
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74.35 47.4')
                    path(d='M74.35 22.3c-.1-.48-.53-.43-.77-.1a25.56 25.56 0 0 1-8.5 7.39c2-4.66 4.94-10.42 6.38-13.2 1.25-2.45.86-4.51.19-5.38-.43-.38-.77-.29-1.2.34-1.68 2.45-3.74 6.77-5.81 10.32-2.45 4.18-4.85 7.25-6.72 7.1-1.1-.1-1.2-1.78-.24-4.13a43.82 43.82 0 0 1 3.7-7c1.78-2.83 2.06-4.85.91-6.38a.67.67 0 0 0-1.2 0 51.23 51.23 0 0 0-6.53 12.15 11.64 11.64 0 0 0-.54 2.17c-1.45 2-3.11 3.57-4.45 3.64-1.63.1-1.58-2-.38-4.66s3.55-6.14 4.61-8.3c1.15-2.4.77-4.46 0-5.33q-.5-.65-1.15.29c-.53.77-1.1 1.78-1.73 2.93.1-1.87-.86-3.46-2.93-3.46-2.4 0-6.19 2.16-10.08 7.82a15.1 15.1 0 0 0-2.13 4.46c-1.93 3.33-4.93 6.23-7 6.05s-1.63-4.18.29-8.88c4.27-2.78 9.65-8.54 11.14-14.45.58-2.26.29-4-1.1-5.28-.67-.62-1.34-.53-2.06.24-4.9 5.09-10.37 13.78-12.15 22.13 0 .14 0 .26-.07.39-1.6 3.06-4.41 6.11-8.81 6.38 1.82-1.1 3.6-3.41 5-6.58 1.78-3.94 2.83-8.21.53-10.66-2.06-2.16-4.9-.82-7 1a5.14 5.14 0 0 0-.29-2.16c-.24-.58-.67-.67-1.15 0-3 4-11.09 19.25-12.53 23.91-.91 2.93-.67 4.27 0 5.28.29.43.62.34.82-.1 2.3-5.33 4.75-10.22 7-14.35a5 5 0 0 0 1.63 3.22c1.68 1.54 3.7 2 6.77 1.78a10.39 10.39 0 0 0 7.79-4 4 4 0 0 0 4.2 3.49c2.65.07 5.14-1.81 6.65-3.46.36 2.1 1.67 3.5 3.81 3.5 2.3 0 4.46-1.78 6-3.74 0 2.26 1.34 3.79 3.94 3.94a7 7 0 0 0 4.89-2.33 3 3 0 0 0 2.84 2.09c1.92.14 3.74-1.1 5.23-2.64-.53 1.15-1 2.35-1.49 3.46-4.75 1.87-8.83 4.75-10.27 9.07a6 6 0 0 0 1 6 2.07 2.07 0 0 0 2.74 1c4-1.54 7.39-9.27 10.08-15.7 4-1.63 7.34-3.46 9.22-6.43a4.31 4.31 0 0 0 .92-2.84zM31.1 15.77c3.31-6.14 6.86-11.47 7.49-11.09s-2.06 8.06-8.64 13.39a25.73 25.73 0 0 1 1.13-2.3zm-20 12.29c-1.34-1.1-1.1-4 .1-7 .58-1 1.1-1.87 1.63-2.74 2.26-3.7 5.23-6.1 6.38-5.52s.67 4.56-1.2 8.4c-2.29 4.6-5.41 8.1-6.95 6.86zm28.8.77c-1.87 0-1.25-4.27 1.3-8.4s6.14-7.39 7.68-7.25 1 3.12-2.06 8.4c-2.47 4.22-4.99 7.29-6.96 7.24zm12.45 15.74c-.86-1.2 1.3-7.78 7.54-11.38-2.94 7.06-6.88 12.29-7.54 11.38z', fill='#ffffff')

        .controls.u-hide
            .controls--actions
                .controls--slider
                    input(id='slider' type='range', min='1' max='10' step='1' value='1')
                .controls--pause-play.is-pause
                    svg(class='controls--pause-icon' viewbox='0 0 10.5 12')
                        path(fill='#d3d3d3', d='M0 0h4v12H0zm6.5 0h4v12h-4z')
                    svg(class='controls--play-icon' viewbox='0 0 8.55 12')
                        path(d='M8.45 5.79L.25.04c-.12-.08-.26 0-.26.22v11.53c0 .19.14.31.26.22l8.2-5.75a.3.3 0 0 0 0-.47z', fill='#d3d3d3')
            .controls--score
                .clone-current-points
                    .current-points
                .score 0

        //- Game Stage
        svg.game-view.u-hide


    script(src='assets/js/TweenMax.js')
    script(src='assets/js/snap.svg.js')
    script(src='assets/js/index.js')
